.header
{
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
}

.logo {
    width: 100px;
}

.nav-items ul{
    display: flex;
    padding: 0px 20px; /*top bottom 0px, left right 20px*/
    font-size: 24px;
    list-style: none;
}

.nav-items li{
    padding: 10px;
    margin: 10px;
}

.search{
    padding: 10px 10px;
}

/*RESTURANT CONTAINER*/
.res-card {
    margin:25px;
    width: 200px;
    height: 385px;
    background-color: #EFEFEF;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(17, 12, 12, 0.426);
}

.res-card:hover{
    border: 1px solid black;
    cursor: pointer;
}

.res-logo{
    width: 190px;
    height: 150px;
    padding: 5px;
    border-radius: 20px;
}

.res-container{
    display: flex;
    flex-wrap: wrap;
}
/*FAKE UI BEFORE API CALL - SHIMMER UI*/
.shimmer-container{
    padding-top: 40px;
    display: flex;
    flex-wrap: wrap;
}
.shimmer-card{
    margin: 25px;
    width:200px;
    height: 385px;
    background-color: #EFEFEF;
    border-radius: 5px;
}

.filter{
    display: flex;
}
.filter-btn{
    margin:10px;
    cursor: pointer;
}

.login{
    padding: 0 20px;
    cursor: pointer;
}